<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Agendamentos</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="container-list">
        <h2>Lista de Agendamentos</h2>
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Telefone</th>
                    <th>Data</th>
                    <th>Hora</th>
                </tr>
            </thead>
            <tbody>
                {% for consulta in consultas %}
                <tr>
                    <td>{{ consulta.nome }}</td>
                    <td>{{ consulta.email }}</td>
                    <td>{{ consulta.telefone }}</td>
                    <td>{{ consulta.data_consulta }}</td>
                    <td>{{ consulta.hora_consulta }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/" class="btn-voltar">Voltar</a>
    </div>
</body>
</html>
